<h2>OIDC Demo Client Code Flow Google - Edge OIDC Healthcare Demo - apigeex-mint-kurt-test - try5</h2>
<p>Logged {{inOrOut}}</p>
<button ng-click="login()">Login</button> <button ng-click="logout()">Logout</button>
<!-- <p><a href="#/home" ng-click="login()"> Sign In</a> --- <a href="#/home" ng-click="logout()">Sign Out</a> -->
<p><a href="#/ping">Ping</a></p>
<p><a href="#/userinfo">User Info</a></p>
<p><a href="#/location_datasets">Location Datasets</a></p>
<p><a href="https://kurtkanaskie.github.io">Back to Main Landing Page</a></p>
